<%- include('partials/header') %>
<% let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %> 
<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-book fa-6x" aria-hidden="true"></i>
    <h1 class="display-3">My Diary</h1>
    <a class="btn btn-light btn-lg logout" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Write Diary</a
    >
  </div>
</div>

    <% secrets.forEach(function(el, index) { %>
      <div class="jumbotron">
      
        <h1> <%= el.date.getDate()  %>/<%= el.date.getMonth()+1  %>/<%= el.date.getFullYear()  %>  
          <%= days[el.date.getDay()]  %> </h1>
        <p class="secret-text"><%= el.secret %></p>
       
      
    </div>
    <hr>
    </div>

    <% }); %>

    <hr />
  
    
  

<%- include('partials/footer') %>
